<div class='diets'>
  <h3 class='heading-tertiary'>Works with any diet:</h3>
  <ul class='list'>
    <li class='list-item'>
      <ion-icon class='list-icon' name='checkmark-outline'></ion-icon>
      <span>Vegetarian</span>
    </li>
    <li class='list-item'>
      <ion-icon class='list-icon' name='checkmark-outline'></ion-icon>
      <span>Vegan</span>
    </li>
    <li class='list-item'>
      <ion-icon class='list-icon' name='checkmark-outline'></ion-icon>
      <span>Pescatarian</span>
    </li>
    <li class='list-item'>
      <ion-icon class='list-icon' name='checkmark-outline'></ion-icon>
      <span>Gluten-free</span>
    </li>
    <li class='list-item'>
      <ion-icon class='list-icon' name='checkmark-outline'></ion-icon>
      <span>Lactose-free</span>
    </li>
    <li class='list-item'>
      <ion-icon class='list-icon' name='checkmark-outline'></ion-icon>
      <span>Keto</span>
    </li>
    <li class='list-item'>
      <ion-icon class='list-icon' name='checkmark-outline'></ion-icon>
      <span>Paleo</span>
    </li>
    <li class='list-item'>
      <ion-icon class='list-icon' name='checkmark-outline'></ion-icon>
      <span>Low FODMAP</span>
    </li>
    <li class='list-item'>
      <ion-icon class='list-icon' name='checkmark-outline'></ion-icon>
      <span>Kid-friendly</span>
    </li>
  </ul>
</div>