---
import Diets from './Diets.astro';
import MealCard, { type MealProps } from './MealCard.astro';
const meals: MealProps[] = [
  {
    image: {
      src: '/img/meals/meal-1.jpg',
      alt: 'Japanese Gyozas',
    },
    mealTags: ['Vegetarian'],
    mealTitle: 'Japanese Gyozas',
    mealAttributes: [
      {
        amount: 650,
        iconName: 'flame-outline',
        title: 'calories',
        isLeft: true,
      },
      {
        amount: 74,
        iconName: 'restaurant-outlines',
        title: 'NutriScore',
        isLeft: false,
      },
      {
        amount: 4.9,
        iconName: 'star-outline',
        title: 'rating (537)',
        isLeft: true,
      },
    ],
  },
  {
    image: {
      src: '/img/meals/meal-2.jpg',
      alt: 'Avocado Salad',
    },
    mealTags: ['Vegan', 'Paleo'],
    mealTitle: 'Avocado Salad',
    mealAttributes: [
      {
        amount: 400,
        iconName: 'flame-outline',
        title: 'calories',
        isLeft: true,
      },
      {
        amount: 92,
        iconName: 'NutriScore',
        title: 'NutriScore',
        isLeft: false,
      },
      {
        amount: 4.8,
        iconName: 'star-outline',
        title: 'rating (441)',
        isLeft: true,
      },
    ],
  },
];
---

<section class='section-meals' id='meals'>
  <div class='container center-text'>
    <span class='subheading'>Meals</span>
    <h2 class='heading-secondary'>Omnifood AI chooses from 5,000+ recipes</h2>
  </div>

  <div class='container grid grid--3-cols margin-bottom-md'>
    {
      meals.map((meal) => (
        <MealCard
          image={meal.image}
          mealAttributes={meal.mealAttributes}
          mealTags={meal.mealTags}
          mealTitle={meal.mealTitle}
        />
      ))
    }

    <Diets />
  </div>

  <div class='container text-center text-[1.8rem]'>
    <a href='#' class='link'>See all recipes &rarr;</a>
  </div>
</section>

<style>
  .section-meals {
    padding: 9.6rem 0;
  }
</style>
