---
interface Props {
  title: string;
  amount: number;
  isLeft?: boolean;
  iconName: string;
}

const { amount, iconName, title, isLeft } = Astro.props;
---

<li class='meal-attribute'>
  <ion-icon class='meal-icon' name={`${iconName}`}></ion-icon>
  <span>
    {isLeft && <strong>{`${amount} `}</strong>}
    {title}
    {!isLeft && <strong>{` ${amount}`}</strong>}
  </span>
</li>

<style>
  .meal-attributes {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .meal-attribute {
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    gap: 1.6rem;
  }

  .meal-icon {
    height: 2.4rem;
    width: 2.4rem;
    color: #e67e22;
  }
</style>
