---
interface Props {
  title: string;
  amount: number;
  isLeft?: boolean;
  iconName: string;
}

const { amount, iconName, title, isLeft } = Astro.props;
---

<li class='meal-attribute'>
  <ion-icon class='meal-icon' name={`${iconName}`}></ion-icon>
  <span>
    {isLeft && <strong>{`${amount} `}</strong>}
    {title}
    {!isLeft && <strong>{` ${amount}`}</strong>}
  </span>
</li>
