---
import Testimonial from './Testimonial.astro';
import TestimonialGallery from './TestimonialGallery.astro';
---

<section
  class='bg-[#fdf2e9] grid grid-cols-[55fr_45fr] items-center'
  id='testimonials'
>
  <Testimonial />
  <TestimonialGallery />
</section>
<!-- src="img/gallery/gallery-12.jpg" alt="Photo of beautifully arranged food" />
ranged food" /> -->
