---
import Testimonial from './Testimonial.astro';
import TestimonialGallery from './TestimonialGallery.astro';
---

<section
  class='section-testimonials'
>
  <Testimonial />
  <TestimonialGallery />
</section>
<!-- src="img/gallery/gallery-12.jpg" alt="Photo of beautifully arranged food" />
ranged food" /> -->


<style>
  
.section-testimonials {
  background-color: #fdf2e9;
  display: grid;
  grid-template-columns: 55fr 45fr;
  align-items: center;
}

</style>