---
import { Image } from 'astro:assets';
interface Props {
  image: {
    src: string;
    alt: string;
  };

  desc: string;
  name: string;
}

const { desc, image, name } = Astro.props;
---

<figure class='testimonial'>
  <Image
    loading='lazy'
    width={60}
    height={80}
    class='testimonial-img'
    alt={image.alt}
    src={image.src}
  />
  <blockquote class='testimonial-text'>
    {desc}
  </blockquote>
  <p class='testimonial-name'>&mdash; {name}</p>
</figure>

<style>
  .testimonial-img {
    width: 6.4rem;
    border-radius: 50%;
    margin-bottom: 1.2rem;
  }

  .testimonial-text {
    font-size: 1.8rem;
    line-height: 1.8;
    margin-bottom: 1.6rem;
  }

  .testimonial-name {
    font-size: 1.6rem;
    color: #6f6f6f;
  }
</style>
