---
import TestimonialCard from './TestimonialCard.astro';

import dave  from '../../img/customers/dave.jpg'
import ben  from '../../img/customers/ben.jpg'
import steve  from '../../img/customers/steve.jpg'
import hannah  from '../../img/customers/hannah.jpg'
const testimonials = [
  {
    image: {
      alt: 'Photo of customer Dave Bryson',
      src: dave
    },
    title: ` Inexpensive, healthy and great-tasting meals, without even having to
        order manually! It feels truly magical.`,
    name: 'Dave Bryson',
  },
  {
    image: {
      alt: 'Photo of customer Ben Hadley',
      src: ben
    },
    title: `The AI algorithm is crazy good, it chooses the right meals for me every
        time. It's amazing not to worry about food anymore!`,
    name: 'Ben Hadley',
  },
  {
    image: {
      alt: 'Photo of customer Steve Miller',
      src: steve
    },
    title: ` Omnifood is a life saver! I just started a company, so there's no time
        for cooking. I couldn't live without my daily meals now!`,
    name: 'Steve Miller',
  },
  {
    image: {
      alt: 'Photo of customer Hannah Smith',
      src: hannah
    },
    title: `        I got Omnifood for the whole family, and it frees up so much time! Plus,
        everything is organic and vegan and without plastic.`,
    name: 'Hannah Smith',
  },
];
---

<div class='p-[9.6rem]'>
  <span class='subheading'>Testimonials</span>
  <h2 class='heading-secondary'>Once you try it, you can't go back</h2>

  <div class='grid grid-cols-2'>
    {
      testimonials.map((item) => (
        <TestimonialCard
          desc={item.title}
          image={item.image}
          name={item.name}
        />
      ))
    }
  </div>
</div>
