---
import {Image} from 'astro:assets'
import gallery1 from '../../img/gallery/gallery-1.jpg'
import gallery2 from '../../img/gallery/gallery-2.jpg'
import gallery3 from '../../img/gallery/gallery-3.jpg'
import gallery4 from '../../img/gallery/gallery-4.jpg'
import gallery5 from '../../img/gallery/gallery-5.jpg'
import gallery6 from '../../img/gallery/gallery-6.jpg'
import gallery7 from '../../img/gallery/gallery-7.jpg'
import gallery8 from '../../img/gallery/gallery-8.jpg'
import gallery9 from '../../img/gallery/gallery-9.jpg'
import gallery10 from '../../img/gallery/gallery-10.jpg'
import gallery11 from '../../img/gallery/gallery-11.jpg'
import gallery12 from '../../img/gallery/gallery-12.jpg'
const images=[

gallery1,
gallery2,
gallery3,
gallery4,
gallery5, 
gallery6,
gallery7,
gallery8,
gallery9,
gallery10,
gallery11,
gallery12,

]
---

<div class='gallery'>

  {images.map(img=>  <figure class='gallery-item'>
    <Image
    width={400}
    height={400}
      src={img}
      alt='Photo of beautifully arranged food'
    />
    <!-- <figcaption>Caption</figcaption> -->
  </figure>)}




 
</div>


<style>
  
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  padding: 1.6rem;
}

.gallery-item {
  overflow: hidden;
}

.gallery-item img {
  display: block;
  width: 100%;
  transition: all 0.4s;
}

.gallery-item img:hover {
  transform: scale(1.1);
}

</style>