<header class="flex justify-between items-center bg-[#fdf2e9]  h-[9.6rem] px-[4.8rem]">
  <a href="#">
    <img class="h-[2.2rem]" alt="Omnifood logo" src="/img/omnifood-logo.png" />
  </a>

  <nav class="main-nav">
    <ul class="flex items-center gap-[4.8rem]">
      <li><a class="inline-block text-[#333] font-medium text-[1.8rem] transition hover:text-[#cf711f]" href="#how">How it works</a></li>
      <li><a class="
        inline-block 
        text-[#333] 
        font-medium 
        text-[1.8rem] 
        transition 
        hover:text-[#cf711f]" href="#meals">Meals</a></li>
      <li>
        <a class="inline-block text-[#333] font-medium text-[1.8rem] transition hover:text-[#cf711f]" href="#testimonials">Testimonials</a>
      </li>
      <li><a class="inline-block text-[#333] font-medium text-[1.8rem] transition hover:text-[#cf711f]" href="#pricing">Pricing</a></li>
      <li><a class="inline-block  font-medium text-[1.8rem] transition nav-cta py-[1.2rem] px-[2.4rem] rounded-[9px] text-[#fff] bg-[#e67e22]" href="#cta">Try for free</a></li>
    </ul>
  </nav>

  <!-- <button >
    <ion-icon class=" h-[4.8rem] w-[2.8rem] lg:hidden text-[#333]" name="menu-outline"></ion-icon>
    <ion-icon class="h-[4.8rem] w-[2.8rem] lg:hidden text-[#333]" name="close-outline"></ion-icon>
  </button> -->
</header>