---
import { Image } from 'astro:assets';
---

<section class='bg-[#fdf2ed] pt-[4.8rem] pb-[9.6rem]'>
  <div
    class='max-w-[130rem] m-auto px-[3.2rem] grid grid-cols-2 gap-[9.6rem] items-center'
  >
    <div class='hero-text-box'>
      <h1 class='heading-primary'>
        A healthy meal delivered to your door, every single day
      </h1>
      <p class='text-[2rem] leading-[1.6] mb-[4.8rem]'>
        The smart 365-days-per-year food subscription that will make you eat
        healthy again. Tailored to your personal tastes and nutritional needs.
      </p>
      <a href='#cta' class='btn btn--full margin-right-sm'>Start eating well</a>

      <a href='#how' class='btn btn--outline'>Learn more &darr;</a>
      <div class='flex items-center gap-[1.6rem] mt-[8rem]'>
        <div class='flex'>
          <img
            class='h-[4.8rem] w-[4.8rem] rounded-full -mr-[1.6rem] border-[#fdf2e9] border-[3px]'
            src='img/customers/customer-1.jpg'
            alt='Customer photo'
          />
          <img
            class='h-[4.8rem] w-[4.8rem] rounded-full -mr-[1.6rem] border-[#fdf2e9] border-[3px]'
            src='img/customers/customer-2.jpg'
            alt='Customer photo'
          />
          <img
            class='h-[4.8rem] w-[4.8rem] rounded-full -mr-[1.6rem] border-[#fdf2e9] border-[3px]'
            src='img/customers/customer-3.jpg'
            alt='Customer photo'
          />
          <img
            class='h-[4.8rem] w-[4.8rem] rounded-full -mr-[1.6rem] border-[#fdf2e9] border-[3px]'
            src='img/customers/customer-4.jpg'
            alt='Customer photo'
          />
          <img
            class='h-[4.8rem] w-[4.8rem] rounded-full -mr-[1.6rem] border-[#fdf2e9] border-[3px]'
            src='img/customers/customer-5.jpg'
            alt='Customer photo'
          />
          <img
            class='h-[4.8rem] w-[4.8rem] rounded-full -mr-[1.6rem] border-[#fdf2e9] border-[3px]'
            src='img/customers/customer-6.jpg'
            alt='Customer photo'
          />
        </div>
        <p class='text-[1.8rem] font-semibold'>
          <span class='text-[#df711f] font-bold'>250,000+</span> meals delivered
          last year!
        </p>
      </div>
    </div>
    <div class='hero-img-box'>
      <picture>
        <source srcset='/img/hero.webp' type='image/webp' />
        <source srcset='/img/hero-min.png' type='image/png' />

        <Image
          width={600}
          height={600}
          src='/img/hero-min.png'
          class='w-full'
          alt='Woman enjoying food, meals in storage container, and food bowls on a table'
        />
      </picture>
    </div>
  </div>
</section>

<script>
  const sectionHeroEl = document.querySelector('.section-hero');

  const obs = new IntersectionObserver(
    function (entries) {
      const ent = entries[0];
      console.log(ent);

      if (ent.isIntersecting === false) {
        document.body.classList.add('sticky');
      }

      if (ent.isIntersecting === true) {
        document.body.classList.remove('sticky');
      }
    },
    {
      // In the viewport
      root: null,
      threshold: 0,
      rootMargin: '-80px',
    }
  );
  obs.observe(sectionHeroEl);
</script>
