---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="img/favicon.png" />
    <link rel="apple-touch-icon" href="img/apple-touch-icon.png" />
    <link rel="manifest" href="manifest.webmanifest" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />

		<script
		type="module"
		src="https://unpkg.com/ionicons@5.4.0/dist/ionicons/ionicons.esm.js"
	></script>
	<script
		nomodule=""
		src="https://unpkg.com/ionicons@5.4.0/dist/ionicons/ionicons.js"
	></script>

	<script
		defer
		src="https://unpkg.com/smoothscroll-polyfill@0.4.4/dist/smoothscroll.min.js"
	></script>
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

	html {
		font-family: system-ui, sans-serif;
		font-size: 62.5%;
  overflow-x: hidden;
	}

	body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;

  /* Only works if there is nothing absolutely positioned in relation to body */
  overflow-x: hidden;
}
	
</style>
